p.one {

    border-style: solid;

    border-color: #98bf21;

}

.center {

    margin: auto;

    width: 70%;

    background-color: #FFFFCC;

}

.right {

    position: absolute;

    right: 0px;

    width: 220px;

    background-color: #b0e0e6;

}

h1.ex {

    width: 160px;

    padding: 10px;

    border: 5px solid gray;

    margin: 0px;

    background-color: #b0c4de;

}

body {

    background-color: #FFFFCC;

}